* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    color: #f7edb2;
    font-family: "Inconsolata", sans-serif;
    padding: 3rem;
  }
  
  .card_layout {
    width: 52rem;
    height: 33rem;
    background-color: #625f69;
    border-radius: 12px;
    display: grid;
    grid-template-rows: 6.6rem 1fr 3rem;
    align-items: center;
  }
  
  .rank__honor {
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
  }
  
  .main__details {
    padding: 0 5.8rem;
    line-height: 3.2rem;
  }
  
  .comp__title {
    justify-self: end;
    padding: 0 2rem;
  }